<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.mall.app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/security"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mall.test.ServiceActivity"></activity>
        <activity
            android:name="com.mall.test.TestActivity"
            android:process=".Test" />
        <activity
            android:name="com.mall.SplaseActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mall.MainActivity" />
        <activity android:name="com.mall.ui.cart.DetailGoodActivity" />
        <activity android:name="com.mall.ui.cart.AdressActivity" />

        <!-- 开发进程dataserver -->
        <service
            android:name="com.app.bigimage.DataService"
            android:exported="true"
            android:process=":dataservice">
            <intent-filter>
                <action android:name="com.mall.myservice" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
    </application>

</manifest>